<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>XWord</string>
	<key>CFBundleIconFile</key>
	<string>xword</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>XWord</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>{XWORD_VERSION}</string>
	<key>CFBundleVersion</key>
	<string>{XWORD_VERSION}</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.mrichards42.xword</string>
	<key>NSHumanReadableCopyright</key>
	<string>XWord {XWORD_VERSION} © 2009-2012 Mike Richards</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>puz</string>
				<string>xpf</string>
				<string>ipuz</string>
				<string>jpz</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Crossword Puzzle</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XML Crossword Puzzle</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
